.btn {
	color: white;
	width: 130px;
	height: 40px;
	display: block;
	margin: 0 auto;
	background: #120A8F;
    left: 25%;
    border: none;
}

.small {
	color: white;
	margin: 0 auto;
	background: none;
    left: 25%;
    border: none;
}

.small:hover {
	font-weight: bold;
	cursor: pointer;
}

.small:focus { 
 	outline: none;
 	
}

.btn:disabled {
	background: #3328E2;
	color: darkgrey;
	
}

.btn:focus { 
 	outline: none;
 	
}

.btn:active {
	background: #0141F9;
	
}